<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="listaTokens">

<!-- Modal Token -->
  <div class="modal" id="modalToken">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modificar Token</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        	<div id="editToken">
        		<div class="row">
        		
        			<input type="hidden" th:field="${token.id}" id="tokenId">
					<div class="col-md-3">
					 	<div class="form-group">
						   	<input type="text" th:field="${token.token}" class="form-control" id="token" placeholder="token" disabled="disabled">
						 </div>
					</div>
					
					<div class="col-md-3">
						<input type="date" min="0" th:value="*{#dates.format(token.fechaExpiracion, 'yyyy-MM-dd')}" class="form-control" id="fechaExpiracion">
					</div>
					
					<div class="col-md-3">
						<select id="estadoToken" th:field="${token.estado}" class="form-control">
							<option value="1">Activo</option>
							<option value="0">Inactivo</option>
						</select>
					</div>
					
					<div class="col-md-3">
						 <button type="button" class="btn btn-primary" id="actualizarToken">Actualizar</button>
					</div>
				</div>
        	</div>
        </div>
      </div>
    </div>
  </div>  

	<div class="card-header">
		<div class="card-head-row">
			<div class="card-title">
				Lista de Tokens 
			</div>
			<div class="card-tools">
				<a href="#" id="crearToken" class="btn btn-primary btn-border btn-round btn-sm">
					<span class="btn-label">
						<i class="fas fa-plus"></i>
					</span>
					Crear Token
				</a>
			</div>
		</div>
	</div>
	<div class="card-body" style="padding-top: 0px;">
		<div style="min-height: 300px;max-height: 300px;overflow: auto;">
			<div class="table-responsive">
               <table id="tabla" class="table mg-b-0 text-md-nowrap">
				    <thead>
				      <tr>
				        <th>Token</th>
				        <th>Estado</th>
				        <th>Fecha creado</th>
				        <th>Fecha expiracion</th>
				        <th></th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr th:each="token:${tokens}">
				        <td th:text="${token.token}"></td>
				        <td th:if="${token.estado == 1}"><span class="badge badge-primary" th:text="'Activo'"></span></td>
						<td th:if="${token.estado == 0}"><span class="badge badge-warning" th:text="'Inactivo'"></span></td>
				        <td th:text="${#dates.format(token.fechaCreado, 'dd-MM-yyyy')}"></td>
				        <td th:if="${token.fechaExpiracion != null}" th:text="${#dates.format(token.fechaExpiracion, 'dd-MM-yyyy')}"></td>
				        <td th:unless="${token.fechaExpiracion != null}" th:text="${#dates.format(token.fechaExpiracion, 'dd-MM-yyyy')}"></td>
				        <td>
				            <a style="color: #fff;cursor: pointer;" th:onclick="'modificarToken(\'' + ${token.id} + '\');'" class="btn btn-primary btn-sm" role="button" title="Editar el registro."><i class="fa fa-edit" aria-hidden="true"></i></a>
				          	<a style="color: #fff;cursor: pointer;" th:onclick="'eliminarToken(\'' + ${token.id} + '\');'" class="btn btn-danger btn-sm" role="button" title="Eliminar el registro."><i class="fa fa-trash" aria-hidden="true"></i></a>
				        </td>
				      </tr>
				    </tbody>
				  </table>
			  </div>
		</div>
	</div>
</div>	
</body>
</html>