<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="contabilidad">  

  <!-- Modal Entrada de Diario -->
  <div class="modal" id="modalEntradaDiarioDC" data-backdrop="static">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Entrada de Diario</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        	<form id="formEntradaDiario">
	          	<div class="row">
					<div class="col-md-3">
					 	<div class="form-group">
						   	<input type="number" name="monto" class="form-control" placeholder="Monto" id="montoEntradaDiario">
						 </div>
					</div>
					
					<div class="col-md-1">
					 	<div class="form-group">
						   	<button class="btn btn-primary" id="agregarEntradaDiarioTemp"> + </button>
						 </div>
					</div>
												
					<div class="col-md-8">
					 	<div class="form-group">
						   	<input type="text" placeholder="Referencia" id="referenciaEntradaDiario" class="form-control">
						 </div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-2">
						<input type="text" placeholder="Codigo" id="codigoEntradaDiario" class="form-control">
					</div>
					
					<div class="col-md-7">
					 	<div class="form-group">
						   	<select id="cuentaContableAuxiliarEd" class="form-control">
		          				<option th:each="cuentaContable : ${cuentasContablesAuxiliaresIniciadas}"
		          						th:value="${cuentaContable.id}" th:text="${cuentaContable.codigo} + ' ' + ${cuentaContable.nombreCuenta}"></option>
		          			</select>
						 </div>
					</div>
					<div class="col-md-3">
					 	<div class="form-group">
						   	<select id="tipoEntradaDiario" class="form-control">
		          				<option value="1">Debito</option>
		          				<option value="2">Credito</option>
		          			</select>
						 </div>
					</div>
				</div>
			</form>
			<br>
			
			<div class="row">
<!-- 					<div class="col-md-3"> -->
					
<!-- 					</div> -->
					
					<div class="col-md-12">
						<div id="tablaEntradasTemp">
							<div class="table-responsive">
			                   <table class="table mg-b-0 text-md-nowrap">
									<thead style="background-color: #0162e8;height: 80px;">
										<tr>
										   <th style="color: #f3f3f3;padding-top: 10px;">Cuenta</th>
										   <th style="color: #f3f3f3;padding-top: 10px;">Referencia</th>
										   <th style="color: #f3f3f3;padding-top: 10px;">Balance Inicial</th>
										   <th style="color: #f3f3f3;padding-top: 10px;">Debito</th>
										   <th style="color: #f3f3f3;padding-top: 10px;">Credito</th>
										   <th style="color: #f3f3f3;padding-top: 10px;">Balance Final</th>
										   <th style="color: #f3f3f3;padding-top: 10px;"></th>
										</tr>
									 </thead>
									<tbody>
										 <tr th:each="entradaTemp : ${entradasTemp}">
										 	 <td th:text="${entradaTemp.cuentaContable.codigo + ' ' + entradaTemp.cuentaContable.nombreCuenta}"></td>
										 	 <td th:text="${entradaTemp.referencia}"></td>
										 	 <td th:text="${entradaTemp.balanceInicial}"></td>
										 	 <td th:text="${entradaTemp.debito}"></td>
										 	 <td th:text="${entradaTemp.credito}"></td>
										 	 <td th:text="${entradaTemp.balanceFinal}"></td>
										 	 <td> <button th:onclick="'eliminarEntradaDiarioTemp(\'' + ${entradaTemp.id} + '\');'" class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
										 </tr>
										 <tr>
										 	<td colspan="4"></td>
										 	<td th:text="'Total Debito: ' + ${totalDebitoTemp}"></td>
										 	<td th:text="'Total Credito: ' + ${totalCreditoTemp}"></td>
										 	<td th:text="'Dif: ' + ${dif}"></td>
										 </tr>
									</tbody>
								 </table>
		                	  </div>
						</div>
					</div>
					
<!-- 					<div class="col-md-3"> -->
					
<!-- 					</div> -->
			</div>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
<!--           <button type="button" class="btn btn-success" id="eliminarEntradasTemp">Regresar</button> -->
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="agregarEntradaDiario">Guardar</button>
        </div>
        
      </div>
    </div>
  </div>   
	
   <!-- Modal Entrada Diario -->         
  <div class="modal" id="modalEntradaDiario">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Entrada Diario</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        	<div class="row">
        		<div class="col-md-4">
					<label>Monto</label><span style="color:red;"> *</span>
					<input type="number" min="0" placeholder="Monto" class="form-control" id="montoEd">
        		</div>
        		
        		<div class="col-md-8">
					<label>Motivo</label><span style="color:red;"> *</span>
					<input type="text" placeholder="Motivo" class="form-control" id="motivoEd">
				</div>
        	</div>
        	
        	<br>
        
          	<div class="row">
          		
          		<div class="col-md-2">
          			<label>&nbsp;</label>
          			<input type="text" class="form-control" id="indicioEd1" placeholder="Codigo">
          		</div>
          	
          		<div class="col-md-6">
          			<label>Cuenta Contable</label><span style="color:red;"> *</span>
          			<select id="cuentaContableAuxiliarEd1" class="form-control">
          				<option th:each="cuentaContable : ${cuentasContablesAuxiliaresIniciadas}"
          						th:value="${cuentaContable.id}" th:text="${cuentaContable.codigo} + ' ' + ${cuentaContable.nombreCuenta}"></option>
          			</select>
          		</div>
          		
          		<div class="col-md-4">
          			<label>Tipo</label><span style="color:red;"> *</span>
          			<input type="text" class="form-control" id="tipoEd1" value="Debito" disabled="disabled">
          		</div>
  
			</div>
			
			<br>
			
			<div class="row">
				<div class="col-md-2">
          			<label>&nbsp;</label>
          			<input type="text" class="form-control" id="indicioEd2" placeholder="Codigo">
          		</div>
			
          		<div class="col-md-6">
          			<label>Cuenta Contable</label><span style="color:red;"> *</span>
          			<select id="cuentaContableAuxiliarEd2" class="form-control">
          				<option th:each="cuentaContable : ${cuentasContablesAuxiliaresIniciadas}"
          						th:value="${cuentaContable.id}" th:text="${cuentaContable.codigo} + ' ' + ${cuentaContable.nombreCuenta}"></option>
          			</select>
          		</div>
          		
          		<div class="col-md-4">
          			<label>Tipo</label><span style="color:red;"> *</span>
          			<input type="text" class="form-control" id="tipoEd2" value="Credito" disabled="disabled">
          		</div>
          	
			</div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnGuardarEntradaDiario">Guardar</button>
        </div>
        
      </div>
    </div>
  </div> 
  
  <!-- Modal Cuenta Enlace -->         
  <div class="modal" id="modalCuentaEnlace">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Cuenta de Enlace</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">

			<h5>Prestamo</h5>

          	<div class="row">
          		
          		<div class="col-md-2">
          			<label>&nbsp;</label>
          			<input type="text" class="form-control" placeholder="Codigo" id="codigoCapitalPrestamoCC">
          		</div>
          	
          		<div class="col-md-6">
          			<label>Capital</label><span style="color:red;"> *</span>
          			<select th:field="${capitalPrestamoEnlace.id}" class="form-control" id="capitalPrestamoCC">
          				<option th:each="capitalPrestamoEnlace : ${cuentasContablesAuxiliaresGeneral}"
          						th:value="${capitalPrestamoEnlace.id}" th:text="${capitalPrestamoEnlace.codigo} + ' ' + ${capitalPrestamoEnlace.nombreCuenta}"></option>
          			</select>
          		</div>
          		
			</div>
			
			<br>
			
			<div class="row">
				<div class="col-md-2">
          			<label>&nbsp;</label>
          			<input type="text" class="form-control" placeholder="Codigo" id="codigoInteresPrestamoCC">
          		</div>
			
          		<div class="col-md-6">
          			<label>Interes</label><span style="color:red;"> *</span>
          			<select th:field="${interesPrestamoEnlace.id}" class="form-control" id="interesPrestamoCC">
          				<option th:each="interesPrestamoEnlace : ${cuentasContablesAuxiliaresGeneral}"
          						th:value="${interesPrestamoEnlace.id}" th:text="${interesPrestamoEnlace.codigo} + ' ' + ${interesPrestamoEnlace.nombreCuenta}"></option>
          			</select>
          		</div>
          		
          		<div class="col-md-4">
          			<label>Tipo</label><span style="color:red;"> *</span>
          			<input type="text" class="form-control" id="tipoEd22" value="Credito" disabled="disabled">
          		</div>
          	
			</div>
			
			<br>
			
			<div class="row">
				<div class="col-md-2">
          			<label>&nbsp;</label>
          			<input type="text" class="form-control"  placeholder="Codigo" id="codigoGastosCierrePrestamoCC">
          		</div>
			
          		<div class="col-md-6">
          			<label>Gastos de cierre</label><span style="color:red;"> *</span>
          			<select th:field="${gastosCierrePrestamoEnlace.id}" class="form-control" id="gastosCierrePrestamoCC">
          				<option th:each="gastosCierrePrestamoEnlace : ${cuentasContablesAuxiliaresGeneral}"
          						th:value="${gastosCierrePrestamoEnlace.id}" th:text="${gastosCierrePrestamoEnlace.codigo} + ' ' + ${gastosCierrePrestamoEnlace.nombreCuenta}"></option>
          			</select>
          		</div>
          	
			</div>
			
			<br>
			
			<div class="row">
				<div class="col-md-2">
          			<label>&nbsp;</label>
          			<input type="text" class="form-control"  placeholder="Codigo" id="codigoCobrosAdicionalesPrestamoCC">
          		</div>
			
          		<div class="col-md-6">
          			<label>Cobros adicionales</label><span style="color:red;"> *</span>
          			<select th:field="${cobrosAdicionalesPrestamoEnlace.id}" class="form-control" id="cobrosAdicionalesPrestamoCC">
          				<option th:each="cobrosAdicionalesPrestamoEnlace : ${cuentasContablesAuxiliaresGeneral}"
          						th:value="${cobrosAdicionalesPrestamoEnlace.id}" th:text="${cobrosAdicionalesPrestamoEnlace.codigo} + ' ' + ${cobrosAdicionalesPrestamoEnlace.nombreCuenta}"></option>
          			</select>
          		</div>
          	
			</div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnGuardarCuentaEnlace">Guardar</button>
        </div>
        
      </div>
    </div>
  </div> 
		
	<div class="row">
		<div class="col-md-12">
			<div class="form-row align-items-center">
			    <div class="col-sm-2 my-1" id="buscarCarpeta">
					<label class="sr-only" for="">carpeta</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<button style="width: 100%;" class="btn btn-success"
								id="btnCarpetaContabilidad">
								<i class="fas fa-search"></i>
							</button>
						</div>
						<input type="hidden" th:value="${msgId}" id="msgId"> <input
							type="hidden" th:value="${carpeta.id}" class="form-control"
							id="carpetaId" placeholder="Carpeta" disabled="disabled">
						<input type="text" th:value="${carpeta.nombre}"
							class="form-control" id="carpeta" placeholder="Carpeta"
							disabled="disabled">
						<div th:if="${carpeta.principal != 1}" class="input-group-prepend">
							<button style="width: 100%;" class="btn btn-danger"
								id="btnExitCarpetaContabilidad">
								<i class="fas fa-times"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
<!-- 				<button class="btn btn-info" id="btnCrearCuentas"> Crear cuentas </button> -->
<!-- 				<button class="btn btn-success" id="btnEntradaDiarios"> Entrada de diario </button> -->
<!-- 				<button class="btn btn-warning" id="btnCuentaEnlace"> Cuentas de enlace </button> -->
				</div>
			 </div>
			
			<div class="card">
			 <div class="row">
				  	<div class="col-md-12">
				  		<div class="row">
				  		   <div class="col-md-4 col-sm-4">
						      <div id="tarjetaEntradaDiario" class="card overflow-hidden sales-card bg-primary-gradient" style="cursor:pointer;height: 140px;">
			                      <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
			                      	<span class="mb-3 tx-20 text-white">Entrada de Diario </span>
			                        <div class="float-right my-auto ml-auto">
			                        <img alt="" th:src="@{/img/efectivo.png}" width="100px;">
<!-- 			                          <i class="fas fa-search" style="color: #fff;cursor: pointer;" aria-hidden="true"></i> -->
			                        </div>
			                        <input type="hidden" id="tipoPrestamoAcct">
			                        <div class="pb-0 mt-0">
			                          <div class="d-flex">
			                            <div class="">
			                              <h4  class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                              <h4 class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                               <p class="mb-0 tx-12 text-white op-7">Debito </p>
			                               <p class="mb-0 tx-12 text-white op-7">Credito </p>
			                            </div>
			                            <span class="float-right my-auto ml-auto">
<!-- 			                              <i class="fas fa-arrow-circle-up text-white"></i> -->
			                              <span class="text-white op-7" style="font-size: 8px;"></span>
			                            </span>
			                          </div>
			                        </div>
			                      </div>
			                      <span id="" class="pt-1"><canvas width="298" height="30" style="display: inline-block; width: 298.25px; height: 30px; vertical-align: top;"></canvas></span>
			                    </div>
						   </div>
						    
						    <div class="col-md-4 col-sm-4">
						      <div class="card overflow-hidden sales-card bg-primary-gradient" style="height: 140px;">
			                      <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
			                      	<span class="mb-3 tx-20 text-white">Conciliacion Bancaria</span>
			                        <div class="float-right my-auto ml-auto">
			                         <img alt="" th:src="@{/img/cajaRegistradora.png}" width="100px;">
<!-- 			                          <i class="fas fa-search" style="color: #fff;cursor: pointer;" aria-hidden="true"></i> -->
			                        </div>
			                        <input type="hidden" id="tipoPrestamoAcct">
			                        <div class="pb-0 mt-0">
			                          <div class="d-flex">
			                            <div class="">
			                              <h4  class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                              <h4 class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                               <p class="mb-0 tx-12 text-white op-7">Movimientos </p>
			                               <p class="mb-0 tx-12 text-white op-7">Operaciones </p>
			                            </div>
			                            <span class="float-right my-auto ml-auto">
<!-- 			                              <i class="fas fa-arrow-circle-up text-white"></i> -->
			                              <span class="text-white op-7" style="font-size: 8px;"></span>
			                            </span>
			                          </div>
			                        </div>
			                      </div>
			                      <span id="" class="pt-1"><canvas width="298" height="30" style="display: inline-block; width: 298.25px; height: 30px; vertical-align: top;"></canvas></span>
			                    </div>
						   </div>
						  
						   <div class="col-md-4 col-sm-4">
						      <div class="card overflow-hidden sales-card bg-primary-gradient" style="height: 140px;">
			                      <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
			                      	<span class="mb-3 tx-20 text-white">Libros </span>
			                        <div class="float-right my-auto ml-auto">
			                        <img alt="" th:src="@{/img/libros.png}" width="100px;">
<!-- 			                          <i class="fas fa-search" style="color: #fff;cursor: pointer;" aria-hidden="true"></i> -->
			                        </div>
			                        <input type="hidden" id="tipoPrestamoAcct">
			                        <div class="pb-0 mt-0">
			                          <div class="d-flex">
			                            <div class="">
			                              <h4  class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                              <h4 class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                               <p class="mb-0 tx-12 text-white op-7">Diario </p>
			                               <p class="mb-0 tx-12 text-white op-7">Mayor </p>
			                            </div>
			                            <span class="float-right my-auto ml-auto">
<!-- 			                              <i class="fas fa-arrow-circle-up text-white"></i> -->
			                              <span class="text-white op-7" style="font-size: 8px;"></span>
			                            </span>
			                          </div>
			                        </div>
			                      </div>
			                      <span id="" class="pt-1"><canvas width="298" height="30" style="display: inline-block; width: 298.25px; height: 30px; vertical-align: top;"></canvas></span>
			                    </div>
						   </div>
						  
				  		</div>
				  		
				  		<div class="row">
				  			 <div class="col-md-4 col-sm-4">
						      <div class="card overflow-hidden sales-card bg-primary-gradient" style="height: 140px;">
			                      <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
			                      	<span class="mb-3 tx-20 text-white">Nomina de Empleados</span>
			                        <div class="float-right my-auto ml-auto">
			                        <img alt="" th:src="@{/img/nomina.png}" width="100px;">
<!-- 			                          <i class="fas fa-search" style="color: #fff;cursor: pointer;" aria-hidden="true"></i> -->
			                        </div>
			                        <input type="hidden" id="tipoPrestamoAcct">
			                        <div class="pb-0 mt-0">
			                          <div class="d-flex">
			                            <div class="">
			                              <h4  class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                              <h4 class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                               <p class="mb-0 tx-12 text-white op-7">Asignaciones </p>
			                               <p class="mb-0 tx-12 text-white op-7">Deducciones </p>
			                               <p class="mb-0 tx-12 text-white op-7">Descuentos TSS </p>
			                            </div>
			                            <span class="float-right my-auto ml-auto">
<!-- 			                              <i class="fas fa-arrow-circle-up text-white"></i> -->
			                              <span class="text-white op-7" style="font-size: 8px;"></span>
			                            </span>
			                          </div>
			                        </div>
			                      </div>
			                      <span id="" class="pt-1"><canvas width="298" height="30" style="display: inline-block; width: 298.25px; height: 30px; vertical-align: top;"></canvas></span>
			                    </div>
						   </div>
						    <div class="col-md-4 col-sm-4">
						      <div id="tarjetaCuentasXCobrar" class="card overflow-hidden sales-card bg-primary-gradient" style="cursor:pointer;height: 140px;">
			                      <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
			                      	<span class="mb-3 tx-20 text-white">Cuentas x Cobrar </span>
			                        <div class="float-right my-auto ml-auto">
			                        <img alt="" th:src="@{/img/dinero.png}" width="100px;">
<!-- 			                          <i class="fas fa-search" style="color: #fff;cursor: pointer;" aria-hidden="true"></i> -->
			                        </div>
			                        <input type="hidden" id="tipoPrestamoAcct">
			                        <div class="pb-0 mt-0">
			                          <div class="d-flex">
			                            <div class="">
			                              <h4  class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                              <h4 class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                               <p class="mb-0 tx-12 text-white op-7">Clientes </p>
			                               <p class="mb-0 tx-12 text-white op-7">Documentos x Cobrar </p>
			                            </div>
			                            <span class="float-right my-auto ml-auto">
<!-- 			                              <i class="fas fa-arrow-circle-up text-white"></i> -->
			                              <span class="text-white op-7" style="font-size: 8px;"></span>
			                            </span>
			                          </div>
			                        </div>
			                      </div>
			                      <span id="" class="pt-1"><canvas width="298" height="30" style="display: inline-block; width: 298.25px; height: 30px; vertical-align: top;"></canvas></span>
			                    </div>
						   </div>
						    <div class="col-md-4 col-sm-4">
						      <div id="tarjetaCuentasXPagar" class="card overflow-hidden sales-card bg-primary-gradient" style="cursor:pointer;height: 140px;">
			                      <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
			                      	<span class="mb-3 tx-20 text-white">Cuentas x Pagar </span>
			                        <div class="float-right my-auto ml-auto">
			                        	<img alt="" th:src="@{/img/calculadora.png}" width="100px;">
<!-- 			                          <i class="fas fa-search" style="color: #fff;cursor: pointer;" aria-hidden="true"></i> -->
			                        </div>
			                        <input type="hidden" id="tipoPrestamoAcct">
			                        <div class="pb-0 mt-0">
			                          <div class="d-flex">
			                            <div class="">
			                              <h4  class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                              <h4 class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                               <p class="mb-0 tx-12 text-white op-7">Socios</p>
			                               <p class="mb-0 tx-12 text-white op-7">Proveedores</p>
			                            </div>
			                            <span class="float-right my-auto ml-auto">
<!-- 			                              <i class="fas fa-arrow-circle-up text-white"></i> -->
			                              <span class="text-white op-7" style="font-size: 8px;"></span>
			                            </span>
			                          </div>
			                        </div>
			                      </div>
			                      <span id="" class="pt-1"><canvas width="298" height="30" style="display: inline-block; width: 298.25px; height: 30px; vertical-align: top;"></canvas></span>
			                    </div>
						   </div>
				  		</div>
				  		
				  		<div class="row">
				  			 <div class="col-md-4 col-sm-4">
						      <div class="card overflow-hidden sales-card bg-primary-gradient" style="height: 140px;">
			                      <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
			                      	<span class="mb-3 tx-20 text-white">Estados Financieros </span>
			                        <div class="float-right my-auto ml-auto">
			                        <img alt="" th:src="@{/img/reporte2.png}" width="100px;">
<!-- 			                          <i class="fas fa-search" style="color: #fff;cursor: pointer;" aria-hidden="true"></i> -->
			                        </div>
			                        <input type="hidden" id="tipoPrestamoAcct">
			                        <div class="pb-0 mt-0">
			                          <div class="d-flex">
			                            <div class="">
			                              <h4  class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                              <h4 class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                               <p class="mb-0 tx-12 text-white op-7">Balance General</p>
			                               <p class="mb-0 tx-12 text-white op-7">Estado de Resultados</p>
			                               <p class="mb-0 tx-12 text-white op-7">Estado de Patrimonio </p>
			                               <p class="mb-0 tx-12 text-white op-7">Estado de Situacion</p>
<!-- 			                               <p class="mb-0 tx-12 text-white op-7">Estado de Efectivo</p> -->
			                            </div>
			                            <span class="float-right my-auto ml-auto">
<!-- 			                              <i class="fas fa-arrow-circle-up text-white"></i> -->
			                              <span class="text-white op-7" style="font-size: 8px;"></span>
			                            </span>
			                          </div>
			                        </div>
			                      </div>
			                      <span id="" class="pt-1"><canvas width="298" height="30" style="display: inline-block; width: 298.25px; height: 30px; vertical-align: top;"></canvas></span>
			                    </div>
						   </div>
						    <div class="col-md-4 col-sm-4">
						      <div class="card overflow-hidden sales-card bg-primary-gradient" style="height: 140px;">
			                      <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
			                      	<span class="mb-3 tx-20 text-white">Reportes </span>
			                        <div class="float-right my-auto ml-auto">
			                        <img alt="" th:src="@{/img/reporte1.png}" width="100px;">
<!-- 			                          <i class="fas fa-search" style="color: #fff;cursor: pointer;" aria-hidden="true"></i> -->
			                        </div>
			                        <input type="hidden" id="tipoPrestamoAcct">
			                        <div class="pb-0 mt-0">
			                          <div class="d-flex">
			                            <div class="">
			                              <h4  class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                              <h4 class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                               <p class="mb-0 tx-12 text-white op-7">Reporte DGII </p>
			                               <p class="mb-0 tx-12 text-white op-7">Reporte 606 </p>
			                               <p class="mb-0 tx-12 text-white op-7">Reporte 607 </p>
			                            </div>
			                            <span class="float-right my-auto ml-auto">
<!-- 			                              <i class="fas fa-arrow-circle-up text-white"></i> -->
			                              <span class="text-white op-7" style="font-size: 8px;"></span>
			                            </span>
			                          </div>
			                        </div>
			                      </div>
			                      <span id="" class="pt-1"><canvas width="298" height="30" style="display: inline-block; width: 298.25px; height: 30px; vertical-align: top;"></canvas></span>
			                    </div>
						   </div>
						    <div class="col-md-4 col-sm-4">
						      <div id="tarjetaCuentaContables" class="card overflow-hidden sales-card bg-primary-gradient" style="cursor:pointer;height: 140px;">
			                      <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
			                      	<span class="mb-3 tx-20 text-white">Cuentas Contables </span>
			                        <div class="float-right my-auto ml-auto">
			                        	<img alt="" th:src="@{/img/contabilidad.png}" width="100px;">
<!-- 			                          <i class="fas fa-search" style="color: #fff;cursor: pointer;" aria-hidden="true"></i> -->
			                        </div>
			                        <input type="hidden" id="tipoPrestamoAcct">
			                        <div class="pb-0 mt-0">
			                          <div class="d-flex">
			                            <div class="">
			                              <h4  class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                              <h4 class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                               <p class="mb-0 tx-12 text-white op-7">Crear Cuenta </p>
			                               <p class="mb-0 tx-12 text-white op-7">Iniciar Cuenta </p>
			                               <p class="mb-0 tx-12 text-white op-7">Catalogo de Cuentas </p>
			                            </div>
			                            <span class="float-right my-auto ml-auto">
<!-- 			                              <i class="fas fa-arrow-circle-up text-white"></i> -->
			                              <span class="text-white op-7" style="font-size: 8px;"></span>
			                            </span>
			                          </div>
			                        </div>
			                      </div>
			                      <span id="" class="pt-1"><canvas width="298" height="30" style="display: inline-block; width: 298.25px; height: 30px; vertical-align: top;"></canvas></span>
			                    </div>
						   </div>
				  		</div>
				  		
				  		<div class="row">
				  			 <div class="col-md-4 col-sm-4">
						      <div class="card overflow-hidden sales-card bg-primary-gradient" id="tarjetaInventarios" style="cursor:pointer;height: 140px;">
			                      <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
			                      	<span class="mb-3 tx-20 text-white">Inventarios </span>
			                        <div class="float-right my-auto ml-auto">
			                        <img alt="" th:src="@{/img/inventario.png}" width="100px;">
<!-- 			                          <i class="fas fa-search" style="color: #fff;cursor: pointer;" aria-hidden="true"></i> -->
			                        </div>
			                        <input type="hidden" id="tipoPrestamoAcct">
			                        <div class="pb-0 mt-0">
			                          <div class="d-flex">
			                            <div class="">
			                              <h4  class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                              <h4 class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                               <p class="mb-0 tx-12 text-white op-7">Propiedades</p>
			                               <p class="mb-0 tx-12 text-white op-7">Activos Fijos</p>
			                            </div>
			                            <span class="float-right my-auto ml-auto">
<!-- 			                              <i class="fas fa-arrow-circle-up text-white"></i> -->
			                              <span class="text-white op-7" style="font-size: 8px;"></span>
			                            </span>
			                          </div>
			                        </div>
			                      </div>
			                      <span id="" class="pt-1"><canvas width="298" height="30" style="display: inline-block; width: 298.25px; height: 30px; vertical-align: top;"></canvas></span>
			                    </div>
						   </div>
						   
						   <div class="col-md-4 col-sm-4">
						      <div class="card overflow-hidden sales-card bg-primary-gradient" id="tarjetaCompras" style="cursor:pointer;height: 140px;">
			                      <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
			                      	<span class="mb-3 tx-20 text-white">Compras </span>
			                        <div class="float-right my-auto ml-auto">
			                        <img alt="" th:src="@{/img/compras.png}" width="100px;">
<!-- 			                          <i class="fas fa-search" style="color: #fff;cursor: pointer;" aria-hidden="true"></i> -->
			                        </div>
			                        <input type="hidden" id="tipoPrestamoAcct">
			                        <div class="pb-0 mt-0">
			                          <div class="d-flex">
			                            <div class="">
			                              <h4  class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                              <h4 class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                               <p class="mb-0 tx-12 text-white op-7">Crear compras</p>
			                               <p class="mb-0 tx-12 text-white op-7">Proveedores</p>
			                            </div>
			                            <span class="float-right my-auto ml-auto">
<!-- 			                              <i class="fas fa-arrow-circle-up text-white"></i> -->
			                              <span class="text-white op-7" style="font-size: 8px;"></span>
			                            </span>
			                          </div>
			                        </div>
			                      </div>
			                      <span id="" class="pt-1"><canvas width="298" height="30" style="display: inline-block; width: 298.25px; height: 30px; vertical-align: top;"></canvas></span>
			                    </div>
						   </div>
						   
						    <div class="col-md-4 col-sm-4">
						      <div class="card overflow-hidden sales-card bg-primary-gradient" id="tarjetaEnlaces" style="cursor:pointer;height: 140px;">
			                      <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
			                      	<span class="mb-3 tx-20 text-white">Enlaces </span>
			                        <div class="float-right my-auto ml-auto">
			                        <img alt="" th:src="@{/img/enlace.png}" width="100px;">
 			                        </div> 
			                        <input type="hidden" id="tipoPrestamoAcct">
			                        <div class="pb-0 mt-0">
			                          <div class="d-flex">
			                            <div class="">
			                              <h4  class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                              <h4 class="tx-18 font-weight-bold mb-1 text-white"><a style="cursor: pointer;" id="">  </a></h4>
			                               <p class="mb-0 tx-12 text-white op-7">Enlazar Cuentas</p>
			                            </div>
			                            <span class="float-right my-auto ml-auto">
			                              <span class="text-white op-7" style="font-size: 8px;"></span>
			                            </span>
			                          </div>
			                        </div>
			                      </div>
			                      <span id="" class="pt-1"><canvas width="298" height="30" style="display: inline-block; width: 298.25px; height: 30px; vertical-align: top;"></canvas></span>
			                    </div>
						   </div>
	
				  		</div>
				  		
					 </div>

                </div>
<!-- 					<div class="card-body"> -->
<!-- 						<div class="table-responsive"> -->
<!-- 							<div class="table-responsive"> -->
<!-- 								<table class="table mg-b-0 text-md-nowrap" id=""> -->
<!-- 									<thead style="background-color: #0162e8;height: 80px;"> -->
<!-- 										<tr> -->
<!-- 										   <th></th> -->
<!-- 										   <th style="color: #f3f3f3;padding-top: 10px;">Codigo</th> -->
<!-- 										   <th style="color: #f3f3f3;padding-top: 10px;">Cuenta</th> -->
<!-- 										   <th style="color: #f3f3f3;padding-top: 10px;">Control</th> -->
<!-- 										   <th style="color: #f3f3f3;padding-top: 10px;">Tipo</th> -->
<!-- 										   <th style="color: #f3f3f3;padding-top: 10px;">Valor</th> -->
<!-- 										</tr> -->
<!-- 									 </thead> -->
<!-- 									<tbody> -->
<!-- 										<div th:each="cuentaContable : ${cuentasContables}"> -->
<!-- 											<tr th:class="${cuentaContable.clase}"> -->
<!-- 												 <td> -->
<!-- 													  <button th:onclick="'mostrararHerencia(\'' + ${cuentaContable.id} + '\');'" class="btn btn-info"><i class="fas fa-plus"></i></button> -->
<!-- 											 	</td>  -->
<!-- 												 <td th:text="${cuentaContable.codigo}"></td> -->
<!-- 											 	 <td th:text="${cuentaContable.nombreCuenta}"></td> -->
<!-- 											 	 <td th:text="${cuentaContable.cuentaControl}"></td> -->
<!-- 											 	 <td th:text="${cuentaContable.tipo}"></td> -->
<!-- 											 	 <td th:text="${cuentaContable.monto}"></td> -->
<!-- 										 	</tr>  -->
<!-- 										</div> -->
										 
<!-- 								</tbody> -->
<!-- 							 </table> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>