<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="cuentasXPagar">
		
<!-- Modal Pago Compra-->
  <div class="modal" id="modalPagoCompra" data-backdrop="static">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Pago</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        	<form id="formPagoCompra">
	          	<div class="row">
	          		<div class="col-md-2">
					 	<div class="form-group">
						   	<input type="text" disabled="disabled" style="border-radius: 10px;" class="form-control" min="0" placeholder="Balance" id="balanceCompra">
						 </div>
					</div>
	          		<div class="col-md-3">
					 	<div class="form-group">
						   	<input type="date" style="border-radius: 10px;" th:value="${#dates.format(dateAcct, 'yyyy-MM-dd')}" class="form-control" id="fechaPagoCompra">
						 </div>
					</div>
	          		
					<div class="col-md-2">
					 	<div class="form-group">
						   	<input type="number" name="monto" style="border-radius: 10px;" class="form-control" min="0" placeholder="Monto" id="montoPagoCompra">
						 </div>
					</div>
					
					<div class="col-md-4">
					 	<div class="form-group">
						   	<select class="form-control" id="cuentaContableEnlace" style="border-radius: 10px;">
						   		<option value="">Seleccione</option>
						   		<option th:each="cuentaContableFormaPago : ${cuentasContablesFormaPago}"
						   				th:value="${cuentaContableFormaPago.cuentaContable.id}"
						   				th:text="${cuentaContableFormaPago.cuentaContable.codigo} + ' ' + ${cuentaContableFormaPago.cuentaContable.nombreCuenta}"></option>
						   	</select>
						 </div>
					</div>
					
					<div class="col-md-1">
					 	<div class="form-group">
						   	<button class="btn btn-primary" id="agregarPagoCompraTemp"> + </button>
						 </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
					 	<div class="form-group">
						   	<input type="text" class="form-control" placeholder="Referencia" id="referenciaPagoCompra" style="border-radius: 10px;">
						 </div>
					</div>
				</div>			
			</form>
			<br>
			
			<div class="row">
				<div class="col-md-12">
					<div id="tablaPagosCompraTemp">
						<div class="table-responsive">
			                  <table class="table mg-b-0 text-md-nowrap">
								<thead style="background-color: #0162e8;height: 80px;">
									<tr>
									   <th style="color: #f3f3f3;padding-top: 10px;">Monto</th>
									   <th style="color: #f3f3f3;padding-top: 10px;">Referencia</th>
									   <th style="color: #f3f3f3;padding-top: 10px;">Cuenta Contable</th>
									   <th style="color: #f3f3f3;padding-top: 10px;"></th>
									</tr>
								 </thead>
								<tbody>
									<tr th:each="pago : ${pagosTemp}">
										<td th:text="${pago.monto}"></td>
										<td th:text="${pago.referencia}"></td>
										<td th:text="${pago.cuentaContable.codigo + ' ' + pago.cuentaContable.nombreCuenta}"></td>
										<td> <button th:onclick="'eliminarPagoComprasTemp(\'' + ${pago.id} + '\');'" class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
									</tr>
									<tr>
										<td colspan="3"></td>
										<td style="display:none;" th:text="${totalPagoTempCompra}" id="totalBalancePagoCompra"></td>
										<td style="font-weight: bold;" th:text="'Total: ' + ${totalPagoTempCompra}"></td>
									</tr>
								</tbody>
							 </table>
		                </div>
					</div>
				</div>
			</div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="agregarPagosCompra">Guardar</button>
        </div>
        
      </div>
    </div>
  </div> 
	
<div class="row">
	<div class="col-md-12">
			<div class="row">
			   <div class="col-md-9">
					<div class="card-header">
						<div class="card-head-row">
							<h4>Cuentas x Pagar</h4>
						</div>
					</div>

					 <div class="row">
						<div class="col-md-12">
							 <div class="row">
								<div class="col-md-4">
									<input type="hidden" id="idSelectedCompra">
									<input class="form-control" id="findByNombreSuplidor" placeholder="Nombre Suplidor" autocomplete="off">
								</div>
							</div>	
						</div>
					</div>
					
					<br>
							<div class="card-body" style="padding-top: 0px;">
								<div id="tablaCompras">
									<div class="table-responsive">
										<table class="table mg-b-0 text-md-nowrap">
											<thead style="background-color: #e9ecef; height: 80px;">
												<tr>
													<th style="background-color: #e9ecef; padding-top: 10px; position: static">Fecha</th>
													<th style="background-color: #e9ecef; padding-top: 10px; position: static">Suplidor</th>
													<th style="background-color: #e9ecef; padding-top: 10px; position: static">Factura</th>
													<th style="background-color: #e9ecef; padding-top: 10px; position: static">Comprobante</th>
													<th style="background-color: #e9ecef; padding-top: 10px; position: static">total</th>
													<th style="background-color: #e9ecef; padding-top: 10px; position: static">Retencion</th>
													<th style="background-color: #e9ecef; padding-top: 10px; position: static">Abonos</th>
													<th style="background-color: #e9ecef; padding-top: 10px; position: static">balance</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="compra : ${compras}" th:onclick="'selectCompraInList(\'' + ${compra.id} + '\');'">
													<td th:text="${#dates.format(compra.fecha, 'dd-MM-yyyy')}"></td>
													<td th:text="${compra.suplidor.nombre}"></td>
													<td th:text="${compra.factura}"></td>
													<td th:text="${compra.comprobante}"></td>
													<td th:text="${compra.total}"></td>
													<td th:text="${compra.retencion}"></td>
													<td th:text="${compra.abono}"></td>
													<td th:text="${compra.balance}"></td>
												</tr>
												<tr>
													<td colspan="6"></td>
													<td style="font-weight: bold;">Total Balance</td>
													<td style="font-weight: bold;" th:text="${totalBalance}" id="totalBalanceCompra"></td>
												</tr>
										</tbody>
									</table>
								
<!-- 								<nav th:if="${productos.totalPages > 0}" aria-label="Page navigation example" > -->
<!-- 									<ul class="pagination"> -->
<!-- 										<li class="page-item" th:if="${productos.hasPrevious()}"> -->
<!-- 											<a class="page-link" style="cursor: pointer;" aria-label="Previous" th:onclick="'previousPageProduct(\'' + ${productos.number - 1} + '\');'"> -->
<!-- 										        <span aria-hidden="true">&laquo;</span> -->
<!-- 										        <span class="sr-only">Anterior</span> -->
<!-- 										      </a> -->
<!-- 										 </li>      -->
<!-- 									<th:block th:each="i: ${#numbers.sequence(0, productos.totalPages - 1)}"> -->
<!-- 								        <span th:if="${productos.number == i}" style="background-color: #c2c8d8;border: 1px solid #cdd7ef;"  -->
<!-- 								        class="page-link selected">[[${i}+1]]</span> -->
<!-- 								        <span th:unless="${productos.number == i}"> -->
<!-- 								              <a class="page-link" style="cursor: pointer;" aria-label="Next" th:onclick="'nextPageProduct(\'' + ${i} + '\');'"> -->
<!-- 										        <span aria-hidden="true">[[${i}+1]]</span> -->
<!-- 										        <span class="sr-only">[[${i}+1]]</span> -->
<!-- 										      </a> -->
<!-- 								        </span> -->
<!-- 								    </th:block> -->
<!-- 										<li class="page-item" th:if="${productos.hasNext()}"> -->
<!-- 											<a class="page-link" style="cursor: pointer;" aria-label="Next" th:onclick="'nextPageProduct(\'' + ${productos.number + 1} + '\');'"> -->
<!-- 										        <span aria-hidden="true">&raquo;</span> -->
<!-- 										        <span class="sr-only">Siguiente</span> -->
<!-- 										      </a> -->
<!-- 										</li> -->
<!-- 									</ul> -->
<!-- 								</nav> -->
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="col-md-12">
						<div id="miniInfoCompra">
							<form autocomplete="off" id="infoCompra">
							     <div class="row">
							     	 <div class="col-md-12">
							        	<div class="form-group">
							        		<input type="hidden" id="idCompraCxP" th:value="${compra.id}">
							        		<input type="text" th:value="${#dates.format(compra.fecha, 'dd-MM-yyyy')}" class="form-control" id="fechaInfoCompra" maxlength="50" placeholder="Fecha" disabled="disabled">
							        	</div>
							        </div>
							      </div>
							      
							      <div class="row">
							     	 <div class="col-md-12">
							        	<div class="form-group">
							        		<input type="text" th:value="${compra.suplidor.nombre}" class="form-control" id="suplidorInfoCompra" placeholder="Suplidor" disabled="disabled">
							        	</div>
							        </div>
							      </div>
							      
							      <div class="row">
								      <div class="col-md-12">
								        <div class="form-group">
								        	<input type="text" th:value="${compra.factura}" id="facturaInfoCompra" class="form-control"  placeholder="Factura" disabled="disabled">
								        </div>
								      </div>
							      </div>
							      
							      <div class="row">
								      <div class="col-md-12">
								        <div class="form-group">
								        	<input type="text" th:value="${compra.comprobante}" id="comprobanteInfoCompra" class="form-control"  placeholder="Comprobante" disabled="disabled">
								        </div>
								      </div>
							      </div>
							      
							      <div class="row">
								      <div class="col-md-12">
								        <div class="form-group">
								        	<input type="text" th:value="${compra.total}" id="totalInfoCompra" class="form-control"  placeholder="Total" disabled="disabled">
								        </div>
								      </div>
							      </div>
							      
							      <div class="row">
								      <div class="col-md-12">
								        <div class="form-group">
								        	<input type="text" th:value="${compra.retencion}" id="retencionInfoCompra" class="form-control"  placeholder="Retencion" disabled="disabled">
								        </div>
								      </div>
							      </div>
							      
							      <div class="row">
								      <div class="col-md-12">
								        <div class="form-group">
								        	<input type="text" th:value="${compra.abono}" id="abonoInfoCompra" class="form-control"  placeholder="Abono" disabled="disabled">
								        </div>
								      </div>
							      </div>
							      
							      <div class="row">
								      <div class="col-md-12">
								        <div class="form-group">
								        	<input type="text" th:value="${compra.balance}" id="balanceInfoCompra" class="form-control"  placeholder="Balance" disabled="disabled">
								        </div>
								      </div>
							      </div>
							    </form>    
							</div>
							
							<div class="row">
								<div class="col-md-12">
								   <img id="crearPago" th:src="@{/img/agregar.png}" style="cursor:pointer;max-width: 100%;">	
								   <img id="regresarAContabilidad" th:src="@{/img/salir.png}"  style="cursor:pointer;max-width: 100%;">		        	
								   <img id="reporteCompraPago" th:src="@{/img/report2.png}" style="cursor:pointer;max-width: 100%;">		        	
								</div>
<!-- 								<div class="col-md-12"> -->
<!-- 								   <img id="eliminarProducto" th:src="@{/img/eliminar.png}"  style="cursor:pointer;max-width: 100%;">	 -->
<!-- 							    </div> -->
							</div>
					</div>    	 	
				</div>
			</div>
			
			</div>
		</div>		
	</div>
</body>
</html>