<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="itbisXPagar">
		
<div class="row">
	<div class="col-md-12">
			<div class="row">
			   <div class="col-md-9">
					<div class="card-header">
						<button class="btn btn-primary" id="comprasPorPagar">Cuentas x pagar</button>
						<button class="btn btn-primary" id="itbisPorPagar">Itbis</button>
						<button class="btn btn-primary" id="prestamosPorPagar">Prestamos x pagar</button>
					</div>
					
					<br>
						<div class="card-body" style="padding-top: 0px;">
								<div id="tablaPrestamosEntidades">
									<div class="table-responsive">
										<table class="table mg-b-0 text-md-nowrap">
											<thead style="background-color: #e9ecef; height: 80px;">
												<tr>
													<th style="background-color: #e9ecef; padding-top: 10px; position: static">Cuenta Contable</th>
													<th style="background-color: #e9ecef; padding-top: 10px; position: static">Monto</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="entrada : ${entradas}">
													<td th:text="${entrada.cuentaContable.codigo} + ' ' + ${entrada.cuentaContable.nombreCuenta}"></td>
													<td th:text="${entrada.balance}"></td>
												</tr>
<!-- 												<tr> -->
<!-- 													<td colspan="6"></td> -->
<!-- 													<td style="font-weight: bold;">Total Balance</td> -->
<!-- 													<td style="font-weight: bold;" th:text="${totalBalance}" id="totalBalanceCompra"></td> -->
<!-- 												</tr> -->
										</tbody>
									</table>
								
<!-- 									<div style="float: right;color: blue;cursor: pointer;" id="verificarCuenta"> -->
<!-- 										Verificar Cuenta <i class="fa fa-eye"></i> -->
<!-- 									</div> -->
								
<!-- 								<nav th:if="${productos.totalPages > 0}" aria-label="Page navigation example" > -->
<!-- 									<ul class="pagination"> -->
<!-- 										<li class="page-item" th:if="${productos.hasPrevious()}"> -->
<!-- 											<a class="page-link" style="cursor: pointer;" aria-label="Previous" th:onclick="'previousPageProduct(\'' + ${productos.number - 1} + '\');'"> -->
<!-- 										        <span aria-hidden="true">&laquo;</span> -->
<!-- 										        <span class="sr-only">Anterior</span> -->
<!-- 										      </a> -->
<!-- 										 </li>      -->
<!-- 									<th:block th:each="i: ${#numbers.sequence(0, productos.totalPages - 1)}"> -->
<!-- 								        <span th:if="${productos.number == i}" style="background-color: #c2c8d8;border: 1px solid #cdd7ef;"  -->
<!-- 								        class="page-link selected">[[${i}+1]]</span> -->
<!-- 								        <span th:unless="${productos.number == i}"> -->
<!-- 								              <a class="page-link" style="cursor: pointer;" aria-label="Next" th:onclick="'nextPageProduct(\'' + ${i} + '\');'"> -->
<!-- 										        <span aria-hidden="true">[[${i}+1]]</span> -->
<!-- 										        <span class="sr-only">[[${i}+1]]</span> -->
<!-- 										      </a> -->
<!-- 								        </span> -->
<!-- 								    </th:block> -->
<!-- 										<li class="page-item" th:if="${productos.hasNext()}"> -->
<!-- 											<a class="page-link" style="cursor: pointer;" aria-label="Next" th:onclick="'nextPageProduct(\'' + ${productos.number + 1} + '\');'"> -->
<!-- 										        <span aria-hidden="true">&raquo;</span> -->
<!-- 										        <span class="sr-only">Siguiente</span> -->
<!-- 										      </a> -->
<!-- 										</li> -->
<!-- 									</ul> -->
<!-- 								</nav> -->
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
								   <img th:src="@{/img/dinero.png}" style="cursor:pointer;max-width: 100%;">	
								   <img th:src="@{/img/reporte1.png}" style="cursor:pointer;max-width: 100%;">		        	
								   <img id="agregarPrestamoEntidad" th:src="@{/img/agregar2.png}" style="cursor:pointer;max-width: 100%;">	
								   <img id="agregarInversionista" th:src="@{/img/agregarUsuario.png}" style="cursor:pointer;max-width: 30%;">
								   <img id="regresarAContabilidad" th:src="@{/img/salir.png}"  style="cursor:pointer;max-width: 30%;">		        	
								</div>
<!-- 								<div class="col-md-12"> -->
<!-- 								   <img id="eliminarProducto" th:src="@{/img/eliminar.png}"  style="cursor:pointer;max-width: 100%;">	 -->
<!-- 							    </div> -->
							</div>
					</div>    	 	
				</div>
			</div>
			
			</div>
		</div>		
	</div>
</body>
</html>