<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="listaUsuarios">
	<div class="card-header">
		<div class="card-head-row">
			<div class="card-title">
				Lista de Usuarios 
			</div>
			<div class="card-tools">
				<a href="#" id="agregarUsuarios" class="btn btn-primary btn-border btn-round btn-sm">
					<span class="btn-label">
						<i class="fas fa-plus"></i>
					</span>
					Agregar
				</a>
			</div>
		</div>
	</div>
	<div class="card-body" style="padding-top: 0px;">
		<div style="min-height: 300px;max-height: 300px;overflow: auto;">
			<div class="table-responsive">
               <table id="tabla" class="table mg-b-0 text-md-nowrap">
				    <thead>
				      <tr>
				        <th>Nombre</th>
				        <th>Usuario</th>
				        <th>Perfil</th>
				        <th></th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr th:each="usuario:${usuarios}">
				        <td th:text="${usuario.nombre}"></td>
				        <td th:text="${usuario.username}"></td>
				        <td th:text="${usuario.perfil.perfil}"></td>
				        <td>
				            <a style="color: #fff;" th:onclick="'modificarUsuario(\'' + ${usuario.id} + '\');'" class="btn btn-primary btn-sm" role="button" title="Editar el registro."><i class="fa fa-edit" aria-hidden="true"></i></a>
							<a style="color: #fff;" th:onclick="'cambiarPassword(\'' + ${usuario.id} + '\');'" class="btn btn-success btn-sm" role="button" title="Cambiar password."><i class="fas fa-cogs" aria-hidden="true"></i></a>
<!-- 				          	<a style="color: #fff;" th:onclick="'eliminarUsuario(\'' + ${cliente.id} + '\');'" class="btn btn-danger btn-sm" role="button" title="Eliminar el registro."><i class="fa fa-trash" aria-hidden="true"></i></a> -->
				        </td>
				      </tr>
				    </tbody>
				  </table>
			  </div>
		</div>
	</div>
</div>	
</body>
</html>