<ul th:fragment="sidebar" class="side-menu" style="">
	<li class="side-item side-item-category">Main</li>

	<li class="slide"><a class="side-menu__item" href="#"
		id="prestamos"> <i class="fas fa-hand-holding-usd side-menu__icon"></i>
			<span class="side-menu__label">Prestamos</span></a></li>
			
	<li class="slide"><a class="side-menu__item" href="#"
		id="cobros"> <i class="fas fa-coins side-menu__icon"></i>
			<span class="side-menu__label">Cobros</span></a></li>
			
	<li class="slide"><a class="side-menu__item" href="#"
		id="caja"> <i class="fas fa-money-check-alt side-menu__icon"></i>
			<span class="side-menu__label">Caja</span></a></li>
			
	<li class="slide"><a class="side-menu__item" href="#"
		id="cuentas"> <i class="fas fa-file-invoice-dollar side-menu__icon"></i>
			<span class="side-menu__label">Bancos</span></a></li>
			
<!-- 	<li class="slide"><a class="side-menu__item" href="#" id="legal"> -->
<!-- 			<i class="fas fa-balance-scale side-menu__icon"></i> -->
<!-- 			<span class="side-menu__label">Legal</span> -->
<!-- 	</a></li> -->
	
	<li class="slide"><a class="side-menu__item" href="#"
		id="contabilidad"> <i class="fas fa-book side-menu__icon"></i>
			<span class="side-menu__label">Contabilidad</span></a></li>
			
	<li class="slide"><a class="side-menu__item" href="#"
		id="contabilidad"> <i class="far fa-clipboard side-menu__icon"></i>
			<span class="side-menu__label">Nomina</span></a></li>
			
	<li class="slide"><a class="side-menu__item" href="#"
		id="empleados"> <i class="fas fa-people-carry side-menu__icon"></i>
			<span class="side-menu__label">Empleados</span></a></li>
			
	<li class="slide"><a class="side-menu__item" href="#"
		id="empresas"> <i class="fas fa-hotel side-menu__icon"></i>
			<span class="side-menu__label">Empresa</span></a></li>		
			
	<li class="slide"><a class="side-menu__item" href="#"
		id="reportes"> <i class="far fa-file-pdf side-menu__icon"></i>
			<span class="side-menu__label">Reportes</span></a></li>			
			
	<li class="slide"><a class="side-menu__item" href="#"
		id="usuarios"> <i class="fas fa-users side-menu__icon"></i>
			<span class="side-menu__label">Usuarios</span></a></li>
			
	<li class="slide"><a class="side-menu__item" href="#"
		id="administracion"> <i class="fas fa-users-cog side-menu__icon"></i>
		<span class="side-menu__label">Administracion</span></a></li> 		
			
	<li class="slide"><a class="side-menu__item" href="#"
		id="configuracion"> <i class="fas fa-cogs side-menu__icon"></i>
		<span class="side-menu__label">Configuracion</span></a></li> 
	
<!-- 	<li class="slide"><a class="side-menu__item" href="#"> <svg -->
<!-- 				xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" -->
<!-- 				viewBox="0 0 24 24"> -->
<!--                   <path d="M0 0h24v24H0V0z" fill="none" /> -->
<!-- 				<path d="M5 5h4v6H5zm10 8h4v6h-4zM5 17h4v2H5zM15 5h4v2h-4z" -->
<!-- 					opacity=".3" /> -->
<!--                   <path -->
<!-- 					d="M3 13h8V3H3v10zm2-8h4v6H5V5zm8 16h8V11h-8v10zm2-8h4v6h-4v-6zM13 3v6h8V3h-8zm6 4h-4V5h4v2zM3 21h8v-6H3v6zm2-4h4v2H5v-2z" /></svg> -->
<!-- 			<span class="side-menu__label">Login</span> -->
<!-- 	</a></li> -->

<div class="app-sidebar__user clearfix">
	<div class="dropdown user-pro-body">

		<div class="">
			<img alt="user-img" class="avatar avatar-xl brround"
				th:src="@{/img/cafe.png}"> <span
				class="avatar-status profile-status bg-green"></span>
		</div>

		<div class="user-info">
			<h4 class="font-weight-semibold mt-3 mb-0">usuario hola</h4>
			<span class="mb-0 text-muted">Cliente 1</span>
		</div>
	</div>
</div>
</ul>

