<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="formularioCliente">
               <!-- <label class="main-content-label">Titulo | Titulo del sistema</label> -->
                  <div style="background-color: #F3F3F2;width: 100%;padding: 8px;text-align: center;border-radius: 18px;">
<!--                     <h3 th:text="${cliente.nombre}"></h3> -->
<!--                     <input type="hidden" id="idCliente" value="${cliente.id}"> -->
                  </div>

                
       <div class="row">
        <div class="col-md-12 col-sm-12" id="formularioCuerpo">
            <h5>Formulario de cliente</h5>
        	<hr>
			<form th:object="${cliente}" id="formClient" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-3">
					<input type="hidden" id="idCliente" th:field="*{id}">
					<input type="hidden" id="doctypeTemp" th:field="*{doctypeTemp}">
					<div class="form-check-inline">
					  <label class="form-check-label">
					    <input type="radio" class="form-check-input" checked="checked" id="docCedula" name="tipoDocumento">Ced.
					  </label>
					</div>
					<div class="form-check-inline">
					  <label class="form-check-label">
					    <input type="radio" class="form-check-input" id="docPasaporte" name="tipoDocumento">Otro
					  </label>
					</div>
				</div>
				
				<div class="col-md-3">
					 <div class="form-group">
					    <input type="text" maxlength="13" th:field="*{cedula}" class="form-control" placeholder="Documento" id="cedulaCliente" required="required">
					  </div>
				</div>
				
				<div class="col-md-6">
				 	<div class="form-group">
					   	<input type="text" class="form-control" th:field="*{nombre}" placeholder="Nombre" id="nombreCliente" required="required">
					 </div>
				</div>
				
			</div>
			
			<div class="row">
			
				<div class="col-md-2">
				 	<div class="form-group">
					   	<input type="text" maxlength="12" th:field="*{telefono}" class="form-control" id="telefonoCliente" placeholder="Telefono" required="required">
					 </div>
				</div>
				
				<div class="col-md-2">
				 	<div class="form-group">
					   	<input type="text" maxlength="12" th:field="*{celular}" class="form-control" id="celularCliente" placeholder="Celular">
					 </div>
				</div>
				
				<div class="col-md-2">
				 	<div class="form-group">
					   	<input type="text" th:field="*{rnc}" class="form-control" id="rncCliente" placeholder="RNC">
					 </div>
				</div>
				
				<div class="col-md-2">
				 	<div class="form-group">
					   	<select th:field="*{comprobanteFiscal.id}" id="ncfCliente" class="form-control">
					   		<option value="0"></option>
					   		<option th:each="comprobanteFiscal : ${comprobantesFiscales}"
					   				th:value="${comprobanteFiscal.id}" th:text="${comprobanteFiscal.nombre}"></option>
					   	</select>
					 </div>
				</div>
				
				<div class="col-md-4">
				 	<div class="form-group">
					   	<input type="text" th:field="*{nota}" class="form-control" id="notaCliente" placeholder="Nota">
					 </div>
				</div>
			
			</div>
			
			<div class="row">
				<div class="col-md-3">
					 <div class="form-group">
					    <input type="file" th:field="*{frontal}" class="form-control" id="fotoFrente">
					  </div>
				</div>
				<div class="col-md-3">
					 <div class="form-group">
					    <input type="file" th:field="*{trasera}" class="form-control" id="fotoTrasera">
					  </div>
				</div>
				<div class="col-md-6">
					 <div class="form-group">
					   <input type="text"  th:field="*{direccion}" class="form-control" id="direccion" placeholder="Direccion">
					  </div>
				</div>
			</div>
												
			<div class="row">
				<div class="col-md-4">
					 <div class="form-group">
					    <input type="text" th:field="*{nombreEmpresa}" class="form-control" placeholder="Nombre de la Empresa" id="nombreEmpresaCliente">
					  </div>
				</div>
				
				<div class="col-md-4">
				 	<div class="form-group">
					   	<input type="text" maxlength="12" class="form-control" th:field="*{telefonoEmpresa}" placeholder="Telefono de la Empresa" id="telefonoEmpresaCliente">
					 </div>
				</div>
				
				<div class="col-md-4">
					 <div class="form-group">
					    <input type="text" th:field="*{direccionEmpresa}" id="direccionEmpresaCliente" class="form-control" placeholder="Direcci&oacute;n de la Empresa">
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="form-group pull-right">
						<button class="btn btn-danger" id="cancelCliente">Cancelar</button>
						<input type="submit" value="Guardar" class="btn btn-primary">
					</div>
				</div>
			</div>
			</form>
         </div>
	 </div>
</div>	
</body>
</html>