<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div id="imprimirData">
<style>
.content { 
  overflow:hidden; 
  width: 100%; 
} 

.left{ 
  width: 60%; 
}  

.right { 
  width: 20%; 
} 

.left  { float:left;  }
.right { float:right; } 

.table {
	width: 100%;
	border-collapse: collapse;
	margin: 16px 0 16px 0;
}

.table th {
	border: 1px solid #ddd;
	padding: 4px;
	background-color: #d4eefd;
	text-align: left;
	font-size: 15px;
}

.table td {
	border: 1px solid #ddd;
	text-align: left;
	padding: 6px;
}
</style>

<div id="encabezadoAbono">
   <center><img th:src="@{/logos/{img} (img=${empresa.logo} )}" style="max-width: 40%;"></center>
   <center th:text="${empresa.direccion}"></center>
   <center th:text="'TEL: ' + ${empresa.telefono}"></center>
   <center th:text="'RNC: ' + ${empresa.rnc}"></center>
  <hr>
</div>

<div class="content">
<!--   <div class="left"> -->
     HEMOS RECIBIDO DE: <span th:text="${parameters.cliente}"></span><br>
	 CEDULA/RNC: <span th:text="${parameters.cedulaCliente}"></span><br>
     LA SUMA DE: <span th:text="${parameters.monto}"></span><br><br>
<!--   </div> -->

<!--   <div class="right"> -->
    FECHA: <span th:text="${parameters.fecha}"></span><br>
	RECIBO No: <span th:text="${parameters.numeroAbono}"></span><br>
	PRESTAMO No: <span th:text="${parameters.prestamo}"></span>
<!--   </div> -->
<hr>

<div class="row">
	<b>RECIBO DE PAGO</b><br>
	Monto Prestamo: <span th:text="${parameters.montoPrestamo}"></span><br>
<!-- 	Valor Cuota: <span></span><br> -->
<!-- 	Cuotas Pagadas: <span th:text="${parameters.cuotasAbonadas}"></span><br> -->
<!-- 	Cuotas Restantes: <span></span><br> -->
</div>
	
<hr>

<div class="row">
	Pago a Capital: <span th:text="${parameters.pagoCapital}"></span><br>
	Pago a Interes: <span th:text="${parameters.pagoInteres}"></span><br>
	Pago a Mora: <span th:text="${parameters.pagoMoras}"></span><br>
	Pago a Cargos: <span th:text="${parameters.pagoCargos}"></span><br>
</div>

<hr>

<div class="row">
 Total Pagado: <span th:text="${parameters.totalPagado}"></span>
</div>


</div>
	
<!-- <div class="content"> -->
<!--   <div style="width: 60%;float:left"> -->
    
<!--   </div> -->

<!--   <div style="width: 20%;float:right;"> -->
<!--      TOTAL PAGADO: <span th:text="${parameters.totalPagado}"></span> -->
<!--   </div> -->
<!-- </div> -->

<br>

<div class="content">
  <div style="width: 50%;float:left">
    __________________<br>
   Recibido Por: <span th:text="${parameters.nombreUsuario}"></span>
  </div>

  <div style="width: 30%;float:right;">
      ________________<br>
    Firma del Cliente
  </div>
</div>
</div>	

</body>
</html>