<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div id="imprimirData">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
.table {
	width: 100%;
	border-collapse: collapse;
	margin: 16px 0 16px 0;
}

.table th {
	border: 1px solid #ddd;
	padding: 4px;
	background-color: #d4eefd;
	text-align: left;
	font-size: 15px;
}

.table td {
	border: 1px solid #ddd;
	text-align: left;
	padding: 6px;
}
</style>

<div id="encabezadoCuadreCaja">
	<!--    <img alt="" th:src="@{/img/cafe.png}"> -->
   <center><img th:src="@{/logos/{img} (img=${empresa.logo} )}" style="max-width: 20%;"></center>
   <center th:text="${empresa.direccion}"></center>
   <center th:text="'TEL: ' + ${empresa.telefono}"></center>
   <center th:text="'RNC: ' + ${empresa.rnc}"></center>

  <hr>
</div>

  <div style="text-align:center; font-size: 20px;font-weight: bold;margin-bottom: 10px;">Cuadre de Caja </div>
		
		<div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header pb-0">
                  <div class="d-flex justify-content-between">
                    <i class="mdi mdi-dots-horizontal text-gray"></i>
                  </div>
<!--                   <p class="tx-12 tx-gray-500 mb-2">Generar reporte. <a href="">Click</a></p> -->
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table mg-b-0 text-md-nowrap">
                      <thead>
                        <tr>
                          <th>Fecha</th>
                          <th>No. Abono</th>
                          <th>No. Prestamo</th>
                          <th>Cliente</th>
                          <th>Monto Pagado</th>
                          <th>Usuario</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="abono : ${abonos}">
                          <td th:text="*{#dates.format(abono.fecha, 'dd/MM/yyyy')}"></td>
                          <td th:text="${abono.id}"></td>
                          <td th:text="${abono.prestamo.codigo}"></td>
                          <td th:text="${abono.cliente.nombre}"></td>
                          <td th:text="${abono.monto}"></td>
                          <td th:text="${abono.usuario.username}"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              
              <div style="border-left-style:solid;height: 80%;">

                <ul class="list-group wd-md-100p users-list-group">
                  <li class="list-group-item d-flex align-items-center" style="background-color: transparent;">
<!--                     <img alt="" class="mr-3 rounded-circle avatar-md" src="cafe.png"> -->
                    <div>
                      <h6 class="tx-15 mb-1 tx-inverse tx-semibold mg-b-0">Efectivo en caja</h6>
<!--                       <span class="d-block tx-13 text-muted">Fecha</span> -->
                    </div>
                    <div class="float-left ml-auto">
                      <h4 th:text="${sumaEfectivo}"></h4>
<!--                       27/12/2020 -->
                    </div>
                  </li>

                 <li class="list-group-item d-flex align-items-center" style="background-color: transparent;">
<!--                     <img alt="" class="mr-3 rounded-circle avatar-md" src="cafe.png"> -->
                    <div>
                      <h6 class="tx-15 mb-1 tx-inverse tx-semibold mg-b-0">Transferencia</h6>
<!--                       <span class="d-block tx-13 text-muted">Fecha</span> -->
                    </div>
                    <div class="float-left ml-auto">
                       <h4 th:text="${sumaDepositoTransferencia}"></h4>
<!--                       27/12/2020 -->
                    </div>
                  </li>
                  
                   <li class="list-group-item d-flex align-items-center" style="background-color: transparent;">
<!--                     <img alt="" class="mr-3 rounded-circle avatar-md" src="cafe.png"> -->
                    <div>
                      <h6 class="tx-15 mb-1 tx-inverse tx-semibold mg-b-0">Cheques</h6>
<!--                       <span class="d-block tx-13 text-muted">Fecha</span> -->
                    </div>
                    <div class="float-left ml-auto">
                      <h4 th:text="${sumaCheque}"></h4>
<!--                       27/12/2020 -->
                    </div>
                  </li>

                  </ul>
              </div>
            </div>
          </div> 
	
  </div> 
</body>
</html>