<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div id="imprimirData">
<style>
.table {
	width: 100%;
	border-collapse: collapse;
	margin: 16px 0 16px 0;
}

.table th {
	border: 1px solid #ddd;
	padding: 4px;
	background-color: #d4eefd;
	text-align: left;
	font-size: 15px;
}

.table td {
	border: 1px solid #ddd;
	text-align: left;
	padding: 6px;
}
</style>

<div id="encabezadoAbono">
	<!--    <img alt="" th:src="@{/img/cafe.png}"> -->
   <center><img th:src="@{/logos/{img} (img=${empresa.logo} )}" style="max-width: 20%;"></center>
   <center th:text="${empresa.direccion}"></center>
   <center th:text="'TEL: ' + ${empresa.telefono}"></center>
   <center th:text="'RNC: ' + ${empresa.rnc}"></center>

  <hr>
</div>

  <div style="text-align:center; font-size: 20px;font-weight: bold;margin-bottom: 10px;">Lista de Abonos </div>

  <div class="container">
		<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="table-responsive">
							<table class="table mg-b-0 text-md-nowrap" id="tablaListaAbonos">
						      <thead>
						        <tr>
						          <th>Fecha</th>
						          <th>No. Abono</th>
						          <th>No. Prestamo</th>
						          <th>Cliente</th>
						          <th>Monto Pagado</th>
						          <th>Usuario</th>
						        </tr>
						      </thead>
						      <tbody>
						        <tr th:each="abono : ${abonos}">
						          <td th:text="*{#dates.format(abono.fecha, 'dd/MM/yyyy')}"></td>
						          <td th:text="${abono.id}"></td>
						          <td th:text="${abono.prestamo.codigo}"></td>
						          <td th:text="${abono.cliente.nombre}"></td>
						          <td th:text="${abono.monto}"></td>
						          <td th:text="${abono.usuario.username}"></td>
						        </tr>
						      </tbody>
						    </table>
						</div>
					</div>
				</div>
			</div>
   </div>
  </div> 
</body>
</html>