<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="form">
<!-- 		<div class="card-header"> -->
<!-- 			<div class="card-head-row"> -->
<!-- 				<div class="card-title"> -->
					
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
		<input type="hidden" th:value="${msg}" id="msg">
		<h5>Formulario Prestamo</h5>
        			<hr>
		<div class="card-body">
			<div style="min-height: 375px">
				<div class="row">
					<!-- Formulario -->
					<div class="col-md-12">
						<form th:object="${prestamo}" id="formulario_prestamo" method="post">
							<div class="row">
								<div class="col-md-3">
									<div class="">
									<input type="hidden" th:value="*{#dates.format(fecha, 'yyyy-MM-dd')}" id="fechaTemp">
										<input type="hidden" th:field="*{id}"> 
<!-- 										<label for="">Fecha</label>  --> 
										<input type="date" th:value="*{#dates.format(fecha, 'yyyy-MM-dd')}" name="fecha" data-toggle="tooltip" title="Fecha" class="form-control" required="required">
									</div>
								</div>
																
								<div class="col-md-3">
<!-- 										<label for="">Prestamo</label> -->
										 <select th:field="*{tipo_prestamo}" id="" class="form-control" required="required" data-toggle="tooltip" title="Prestamo">
										 	<option value="personal">Personal</option>
										 	<option value="hipotecatio">Hipotecario</option>
										 	<option value="vehiculo">Vehiculo</option>
										 	<option value="garantia">Garantia</option>
										 	<option value="otro">Otro</option>
										 </select>
								</div>
								
								<div class="col-md-3">
<!-- 									<label for="">Tipo</label> -->
									 <select th:field="*{tipo}" id="tipo_prestamo" class="form-control" data-toggle="tooltip" title="Cuotas" onchange="javascript:calCuota()" required="required">
										<option value="1">Cuotas Fijas</option>
										 <option value="3">Cuotas Variables</option>
										 <option value="2">Interes</option>
									</select>
								</div>
								
								<div class="col-md-3">
<!-- 										 <label for="">Forma de Pago</label>  -->
									 <select th:field="*{forma_pago}" class="form-control" required="required" data-toggle="tooltip" title="Forma de Pago">
											<option value="30">Mensual</option>
										 	<option value="1">Diario</option>
										 	<option value="2">Interdiario</option>
										 	<option value="7">Semanal</option>
										 	<option value="15">Quincenal</option>
										 </select>
								</div>
								
							</div>	
							
							<br>
								
							<div class="row">
								<div class="col-md-3">
<!-- 								<label for="">Monto</label>  -->
									 <input type="number" th:field="*{monto}" class="form-control" oninput="javascript:calCuota()" id="monto" min="0" placeholder="Monto a prestar" data-toggle="tooltip" title="Monto a prestar">
								</div>
								<div class="col-md-2">
<!-- 								<label for="">Plazo</label>  -->
									<input type="number" placeholder="Plazos" th:field="*{pagos}" class="form-control" oninput="javascript:calCuota()" id="pagos" min="0" data-toggle="tooltip" title="Plazo">
								</div>
								<div class="col-md-3">
<!-- 								 <label for="">Tasa Mensual</label>  -->
									<input type="number" th:field="*{tasa}" class="form-control" oninput="javascript:calCuota()" min="0" id="tasa" placeholder="Tasa" data-toggle="tooltip" title="Tasa">
								</div>
								<div class="col-md-2">
<!-- 								<label for="">Mora % dia</label>  -->
									 <input type="number" th:field="*{mora}" class="form-control" id="pago_mora" min="0" placeholder="Mora" data-toggle="tooltip" title="Mora">
								</div>
								<div class="col-md-2">
<!-- 								 <label for="">Dias Gracias</label>  -->
									 <input type="number" th:field="*{dias_gracia}" class="form-control" min="0" placeholder="Dias Gracia" data-toggle="tooltip" title="Dias de gracia">
								</div>
							</div>
							
						<div id="calculosTasa">
							<input type="hidden" th:value="${tasa}" id="responseTasa">
							<input type="hidden" th:value="${interes}" id="responseTasaInteres">
							<input type="hidden" th:value="${capital}" id="responseTasaCapital">
							<input type="hidden" th:value="${total_pagar}" id="responseTasaTotalPagar">	
						</div>		
							
						<div id="calculosCuota">
							<input type="hidden" th:value="${cuota}" id="responseCuota">
							<input type="hidden" th:value="${interes}" id="responseInteres">
							<input type="hidden" th:value="${capital}" id="responseCapital">
							<input type="hidden" th:value="${total_pagar}" id="responseTotalPagar">	
						</div>
						
						<br>
													
						<div class="row">
								<div class="col-md-3">
<!-- 								 <label for="">Valor Cuota</label>  -->
									<input type="number" th:field="*{valor_cuota}" id="valor_cuota" oninput="javascript:calTasa()" class="form-control" min="0" data-toggle="tooltip" title="Valor Cuota">
								</div>
								<div class="col-md-3" data-toggle="tooltip" title="Valor Interes">
<!-- 								 <label for="">Interes</label>  -->
									 <input type="number" th:field="*{valor_interes}" id="valor_interes" class="form-control" disabled="disabled" min="0">
								</div>
								<div class="col-md-3" data-toggle="tooltip" title="Total a Pagar">
<!-- 										 <label for="">Total a pagar</label>  -->
									 <input type="number" th:field="*{totalPagar}" id="total_pagar" disabled="disabled" class="form-control" min="0">
								</div>
							</div>
							
							<br>
							
							<div class="row">
								<div class="col-md-4">
									 <select th:field="*{cuenta.id}" id="id_cuenta" class="form-control" data-toggle="tooltip" title="Cuenta">
									 	<option th:each="cuenta : ${cuentas}"
									 			th:value="${cuenta.id}" th:text="${cuenta.banco}"></option>
									 </select>
								</div>
								<div class="col-md-4">
<!-- 									 <label for="">Observacion</label>  -->
									 <input type="text" th:field="*{observacion}" class="form-control" placeholder="Observacion" data-toggle="tooltip" title="Observacion">
								</div>
								<div class="col-md-4">
<!-- 									 <label for="">Gastos de cierre</label>  -->
									 <input type="number" min="0" class="form-control" placeholder="Gastos Cierre" data-toggle="tooltip" title="Gastos Cierre">
								</div>
							</div>
							
							<br>
							
							<div class="row">
								<div class="col-md-12">
									<div class="form-group pull-right">
										<button class="btn btn-danger" id="cancelarFormPrestamo">Cancelar</button>
										<input type="submit" value="Guardar" class="btn btn-primary">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>