<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="form">
		      <div class="row">
            <br>
			<div class="col-md-12" id="buscadorAgregarPrestamo">
					<input type="hidden" th:value="${msg}" id="msg">
					<input type="hidden" id="tipoDocumentoAcctPrestamo" th:value="${tipoDocumentoAcctPrestamo}">
					  <div class="form-row align-items-center">
					    <div class="col-sm-2 my-1">
					      <label class="sr-only" for="">carpeta</label>
					      <div class="input-group">
					        <div class="input-group-prepend">
					        <button style="width: 100%;" class="btn btn-success" id="btnCarpetaPrestamo">
					        	<i class="fas fa-search"></i>
					        </button>
					        </div>
					        <input type="hidden" th:value="${msg}" id="msg">
					        <input type="hidden" th:value="${carpeta.id}" class="form-control" id="carpetaIdPrestamo" placeholder="Carpeta" disabled="disabled">
					        <input type="text" th:value="${carpeta.nombre}" class="form-control" id="carpetaPrestamo" placeholder="Carpeta" disabled="disabled">
					     	<div th:if="${carpeta.principal != 1}" class="input-group-prepend">
					        <button style="width: 100%;" class="btn btn-danger" id="btnExitCarpetaPrestamo">
					        	<i class="fas fa-times"></i>
					          </button>
					        </div>
					      </div>
					    </div>
					    <div class="col-sm-2 my-1">
					   	 <div class="form-check form-check-inline">
					        <div class="custom-control custom-radio">
							  <input type="radio" id="cedulaPrestamo" name="tipoDocumentoBusquedaPrestamo" class="custom-control-input">
							  <label class="custom-control-label" for="cedulaPrestamo">Ced.</label>
							</div>
						</div>	
						<div class="form-check form-check-inline">
							<div class="custom-control custom-radio">
							  <input type="radio" id="otroPrestamo" name="tipoDocumentoBusquedaPrestamo" class="custom-control-input">
							  <label class="custom-control-label" for="otroPrestamo">Otro</label>
							</div>
					    </div>
					    </div>
					    <div class="col-sm-2 my-1">
					    <input type="hidden" th:value="${cliente.id}" id="idClientePrestamo">
					       <input type="text" th:field="${cliente.cedula}" class="form-control" id="buscarPorDocumentoPrestamo" maxlength="13" placeholder="Documento">
					    </div>
					    <div class="col-sm-4 my-1">
					       <input type="text" th:field="${cliente.nombre}" class="form-control" id="buscarPorNombrePrestamo" placeholder="Nombre">
					    </div>
					    
					     <div class="col-sm-1 my-1">
					    </div>
					    
					    <div class="col-sm-1 my-1 pull right">
<!-- 					    	 <button class="btn btn-primary btn-sm" type="button" id="agregarCliente">Agregar Cliente</button> -->
					    </div>
					  </div>
			</div>
		</div>

<!-- 		<hr> -->
<!-- 		<h5>Formulario Prestamo</h5> -->
        <hr>
		<div class="card-body">
			<div style="min-height: 375px">
				<div class="row">
					<!-- Formulario -->
					<div class="col-md-12">
						<form th:object="${prestamo}" id="formulario_prestamo" method="post" autocomplete="off">
							<div class="row">
								<div class="col-md-3">
									<div class="">
									<input type="hidden" th:value="*{#dates.format(fecha, 'yyyy-MM-dd')}" id="fechaTemp">
										<input type="hidden" th:field="*{id}"> 
										<input type="date" th:value="*{#dates.format(fecha, 'yyyy-MM-dd')}" id="fecha" style="font-size: 15px;" name="fecha" data-toggle="tooltip" title="Fecha" class="form-control" required="required">
									</div>
								</div>
																
								<div class="col-md-3">
										 <select th:field="*{prestamoTipo.id}" id="prestamo" class="form-control" style="font-size: 15px;" required="required" data-toggle="tooltip" title="Prestamo">
										 	<option th:each="prestamoTipo : ${prestamosTipos}"
										 			th:value="${prestamoTipo.id}" 
										 			th:text="${prestamoTipo.tipo}"></option>
										 </select>
								</div>
								
								<div class="col-md-3">
									 <select th:field="*{tipo}" id="tipo_prestamo" class="form-control" style="font-size: 15px;" data-toggle="tooltip" title="Cuotas" onchange="javascript:calCuota()" required="required">
										<option value="1">Cuotas Fijas</option>
										 <option value="3">Cuotas Variables</option>
										 <option value="2">Interes</option>
									</select>
								</div>
								
								<div class="col-md-3">
									 <select th:field="*{forma_pago}" class="form-control" style="font-size: 15px;" required="required" data-toggle="tooltip" title="Forma de Pago">
											<option value="30">Mensual</option>
										 	<option value="1">Diario</option>
										 	<option value="2">Interdiario</option>
										 	<option value="7">Semanal</option>
										 	<option value="15">Quincenal</option>
										 </select>
								</div>
								
							</div>	
							
							<br>
								
							<div class="row">
								<div class="col-md-2">
									 <input type="number" th:field="*{monto}" class="form-control maximizedLow" oninput="javascript:calCuota()" id="monto" min="0" placeholder="Monto a prestar" data-toggle="tooltip" title="Monto a prestar">
								</div>
								<div class="col-md-1" id="divPlazos">
									<input type="number" placeholder="Plazos" th:field="*{pagos}" class="form-control maximizedLow" oninput="javascript:calCuota()" id="pagos" min="0" data-toggle="tooltip" title="Plazo">
								</div>
								<div class="col-md-2">
									<input type="number" th:field="*{tasa}" class="form-control maximizedLow" oninput="javascript:calCuota()" min="0" id="tasa" placeholder="Tasa" data-toggle="tooltip" title="Tasa">
								</div>
								<div class="col-md-2">
									 <input type="number" th:field="*{mora}" class="form-control maximizedLow" id="pago_mora" min="0" placeholder="Mora" data-toggle="tooltip" title="Mora">
								</div>
								<div class="col-md-1">
									 <input type="number" th:field="*{dias_gracia}" class="form-control maximizedLow" min="0" placeholder="Dias Gracia" data-toggle="tooltip" title="Dias de gracia">
								</div>
								<div class="col-md-2">
									 <select th:field="*{moneda}" class="form-control" data-toggle="tooltip" title="Moneda">
									 	<option value="pesos">Pesos RD$</value>
									 	<option value="dolar">Dolar USD$</value>
									 </select>
								</div>
							</div>
							
						<div id="calculosTasa">
							<input type="hidden" th:value="${tasa}" id="responseTasa">
							<input type="hidden" th:value="${interes}" id="responseTasaInteres">
							<input type="hidden" th:value="${capital}" id="responseTasaCapital">
							<input type="hidden" th:value="${total_pagar}" id="responseTasaTotalPagar">	
						</div>		
							
						<div id="calculosCuota">
							<input type="hidden" th:value="${cuota}" id="responseCuota">
							<input type="hidden" th:value="${interes}" id="responseInteres">
							<input type="hidden" th:value="${capital}" id="responseCapital">
							<input type="hidden" th:value="${total_pagar}" id="responseTotalPagar">	
						</div>
						
						<br>
													
						<div class="row">
								<div class="col-md-3" id="divValorCuota">
									<input type="number" th:field="*{valor_cuota}" step="0.01" id="valor_cuota" oninput="javascript:calTasa()" class="form-control maximizedLow" min="0" data-toggle="tooltip" title="Valor Cuota">
								</div>
								<div class="col-md-3" data-toggle="tooltip" title="Valor Interes">
									 <input type="number" th:field="*{valor_interes}" id="valor_interes" class="form-control maximizedLow" min="0">
								</div>
<!-- 								<div class="col-md-3" data-toggle="tooltip" title="Total a Pagar"> -->
<!-- 									 <input type="number" style="font-size: 15px;" th:field="*{totalPagar}" id="total_pagar" class="form-control" min="0"> -->
<!-- 								</div> -->
							</div>
							
							<br>
							
							<div class="row">
								<div class="col-md-4">
									 <select id="id_cuenta" class="form-control" data-toggle="tooltip" title="Cuenta">
									 	<option style="font-size: 15px;" th:each="cuenta : ${cuentas}"
									 			th:value="${cuenta.id}" th:text="${cuenta.banco}"></option>
									 </select>
								</div>
								<div class="col-md-4">
									 <input type="text" th:field="*{observacion}" class="form-control" placeholder="Observacion" data-toggle="tooltip" title="Observacion">
								</div>
								<div class="col-md-2">
									 <input type="number" th:field="*{gastos_cierre}" min="0" class="form-control maximizedLow" value="0" data-toggle="tooltip" title="Gastos Cierre">
								</div>
								<div class="col-md-1">
									 <input type="number" th:field="*{cantidad_pagos}" id="cantidad_pagos" min="0" class="form-control maximizedLow" value="0" data-toggle="tooltip" title="Cantidad de pagos">
								</div>
							</div>
							
							<br>
							
							<div class="row">
								<div class="col-md-12">
									<div class="form-group pull-right">
										<button class="btn btn-danger" id="cancelarFormPrestamo">Cancelar</button>
										<button id="guardarPrestamo" value="Guardar" class="btn btn-primary">Guardar</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>