<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="form">
		<div class="card-header">
			<div class="card-head-row">
				<div class="card-title">
					<h2>Formulario Prestamo</h2>
					<span th:text="${response}" id="response"></span>
				</div>

				<div class="card-tools">
					<a href="#" id="listadoClientes"
						class="btn btn-primary btn-border btn-round btn-sm"> <span
						class="btn-label"> <i class="fas fa-users"></i>
					</span> test
					</a>
				</div>
			</div>
			<ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
				<li class="nav-item submenu"><a class="nav-link"
					id="navListaCliente" data-toggle="pill" role="tab"
					aria-selected="false">Clientes</a></li>
				<li class="nav-item submenu"><a class="nav-link active show"
					id="navListaPrestamo" data-toggle="pill" role="tab"
					aria-selected="true">Prestamos</a></li>
			</ul>
		</div>
		<div class="card-body">
			<div style="min-height: 375px">
				<div class="row">
					<!-- Formulario -->
					<div class="col-md-6">
						<form th:object="${prestamo}" id="formPrestamo" method="post">
							<div class="row">
								<div class="col-md-5">
									<div class="">
										<input type="hidden" th:field="*{id}"> <label
											for="">Fecha</label> <input type="date"
											th:field="*{fecha}" class="form-control" required="required">
									</div>
								</div>

								<div class="col-md-7">
									<div class="">
										<label for="nombreCliente">Cliente</label>
										 <select th:field="*{cliente.id}" class="form-control" required="required">
										 	<option th:each="cliente : ${clientes}" th:value="${cliente.id}"
										 			th:text="${cliente.nombre}"></option>
										 </select>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-4">
									<div class="">
										<label for="">Prestamo</label>
										 <select th:field="*{tipo_prestamo}" class="form-control" required="required">
										 	<option value="personal">Personal</option>
										 	<option value="hipotecatio">Hipotecario</option>
										 	<option value="vehiculo">Vehiculo</option>
										 	<option value="garantia">Garantia</option>
										 	<option value="otro">Otro</option>
										 </select>
									</div>
								</div>

								<div class="col-md-4">
									<div class="">
										<label for="">Tipo</label>
										 <select th:field="*{tipo}" class="form-control" required="required">
										 	<option value="cuotasFijas">Cuotas Fijas</option>
										 	<option value="cuotasVariables">Cuotas Variables</option>
										 	<option value="interesFijo">Interes Fijo</option>
										 	<option value="interesVariable">Interes Variable</option>
										 </select>
									</div>
								</div>
								
								<div class="col-md-4">
									<div class="">
										<label for="">Moneda</label>
										 <select th:field="*{moneda}" class="form-control" required="required">
										 	<option value="pesos">Pesos</option>
										 	<option value="dolar">Dolar</option>
										 	<option value="euro">Euro</option>
										 </select>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-4">
									<div class="">
										 <label for="">Dias Gracias</label> 
										 <input type="number" th:field="*{dias_gracia}" class="form-control" min="0">
									</div>
								</div>
								
								<div class="col-md-4">
									<div class="">
										 <label for="">Forma de Pago</label> 
										 <input type="number" th:field="*{id_forma_pago}" class="form-control" min="0">
									</div>
								</div>
								
								<div class="col-md-4">
									<div class="">
										 <label for="">Monto</label> 
										 <input type="number" th:field="*{monto}" class="form-control" min="0" placeholder="Monto a prestar">
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-4">
									<div class="">
										 <label for="">Pagos</label> 
										 <input type="number" th:field="*{pagos}" class="form-control" min="0">
									</div>
								</div>
								<div class="col-md-4">
									<div class="">
										 <label for="">Mora % dia</label> 
										 <input type="number" th:field="*{mora}" class="form-control" min="0" placeholder="Monto a prestar">
									</div>
								</div>
								<div class="col-md-4">
									<div class="">
										 <label for="">Tasa Mensual</label> 
										 <input type="number" th:field="*{tasa}" class="form-control" min="0" placeholder="Monto a prestar">
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-4">
									<div class="">
										 <label for="">Valor Cuota</label> 
										 <input type="number" th:field="*{valor_cuota}" class="form-control" min="0">
									</div>
								</div>
								<div class="col-md-4">
									<div class="">
										 <label for="">Interes</label> 
										 <input type="number" th:field="*{interes}" class="form-control" min="0">
									</div>
								</div>
								<div class="col-md-4">
									<div class="">
										 <label for="">Total a pagar</label> 
										 <input type="number" th:field="*{totalPagar}" class="form-control" min="0">
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-4">
									<div class="">
										 <label for="">Cuenta</label> 
										 <input type="text" th:field="*{id_cuenta}" class="form-control" placeholder="Cuenta">
									</div>
								</div>
								<div class="col-md-4">
									<div class="">
										 <label for="">Carpeta</label> 
										 <input type="number" th:field="*{carpeta}" class="form-control" min="0">
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-12">
									<div class="">
										 <label for="">Observacion</label> 
										 <textarea th:field="*{observacion}" class="form-control" rows="1"></textarea>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="form-group pull-right">
										<input type="submit" value="Guardar" class="btn btn-primary">
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--  Lista -->
					<div class="col-md-6">
						<div class="table-responsive">
							<table class="display table table-striped table-hover">
							    <thead>
							      <tr style="background-color: #212529;color:#fff;">
							        <th>Fecha</th>
							        <th>Cuota</th>
							        <th>Capital</th>
							        <th>Interes</th>
							        <th>Saldo</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr>
							        <td></td>
							        <td>0.00</td>
							        <td>0.00</td>
							        <td>0.00</td>
							        <td>0.00</td>
							      </tr>
							    </tbody>
							  </table>
						  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>