<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div id="imprimirData">
<style>
.table {
	width: 100%;
	border-collapse: collapse;
	margin: 16px 0 16px 0;
}

.table th {
	border: 1px solid #ddd;
	padding: 4px;
	background-color: #d4eefd;
	text-align: left;
	font-size: 15px;
}

.table td {
	border: 1px solid #ddd;
	text-align: left;
	padding: 6px;
}
</style>

<!--    <img alt="" th:src="@{/img/cafe.png}"> -->
   <center><img th:src="@{/logos/{img} (img=${empresa.logo} )}" style="max-width: 20%;"></center>
   <center th:text="${empresa.direccion}"></center>
   <center th:text="'TEL: ' + ${empresa.telefono}"></center>
   <center th:text="'RNC: ' + ${empresa.rnc}"></center>

  <hr>
  
  <div style="text-align:center; font-size: 20px;font-weight: bold;margin-bottom: 10px;">Lista de descuentos </div>

  <div class="container">
		<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="table-responsive">
							<table class="table mg-b-0 text-md-nowrap" id="tablaListaDescuentos">
								<thead style="background-color: #0162e8;height: 80px;">
									<tr>
										<th style="padding-top: 10px;font-weight: bold;">Fecha</th>
										<th style="padding-top: 10px;font-weight: bold;">Cliente</th>
										<th style="padding-top: 10px;font-weight: bold;">Monto</th>
										<th style="padding-top: 10px;font-weight: bold;">Concepto</th>
										<th style="padding-top: 10px;font-weight: bold;">Usuario</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="descuento : ${descuentos}">
										<td th:text="${#dates.format(descuento.fecha, 'dd-MM-yyyy')}"></td>
										<td th:text="${descuento.cliente.nombre}"></td>
										<td th:text="${descuento.totalDescuento}"></td>
										<td th:text="${descuento.concepto}"></td>
										<td th:text="${descuento.usuario.username}"></td>
									</tr>
									<tr>
										<td colspan="3"></td>
										<td style="font-weight: bold;">Total Monto</td>
										<td th:text="${totalMonto}" style="font-weight: bold;"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
   </div>
  </div> 
</body>
</html>