<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="listaPendientes">
		<div style="text-align:center; font-size: 20px;font-weight: bold;margin-bottom: 10px;">Lista de pendientes 
		
		<button class="btn btn-success btn-sm" id="imprimirListaPendientes"><i class="fas fa-print"></i></button> 
		  </div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="table-responsive">
							<table class="table mg-b-0 text-md-nowrap" id="tablaListaPendientes">
									<thead style="background-color: #e9ecef; height: 80px;">
										<tr>
											<th style="background-color: #e9ecef; padding-top: 10px; position: static">Fecha</th>
											<th style="background-color: #e9ecef; padding-top: 10px; position: static">Cliente</th>
											<th style="background-color: #e9ecef; padding-top: 10px; position: static">Codigo</th>
											<th style="background-color: #e9ecef; padding-top: 10px; position: static">Tipo Prestamo</th>
											<th style="background-color: #e9ecef; padding-top: 10px; position: static">Deuda Capital</th>
											<th style="background-color: #e9ecef; padding-top: 10px; position: static">Deuda Interes</th>
											<th style="background-color: #e9ecef; padding-top: 10px; position: static">Deuda Mora</th>
											<th style="background-color: #e9ecef; padding-top: 10px; position: static">Deuda Adicionales</th>
											<th style="background-color: #e9ecef; padding-top: 10px; position: static">Moneda</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="prestamoTotal : ${prestamosTotales}">
											<td th:text="${#dates.format(prestamoTotal.prestamo.fecha, 'dd-MM-yyyy')}"></td>
											<td th:text="${prestamoTotal.prestamo.cliente.nombre}"></td>
											<td th:text="${prestamoTotal.prestamo.codigo}"></td>
											<td th:if="${prestamoTotal.prestamo.tipo == '1'}" th:text="'Cuotas'"></td>
											<td th:unless="${prestamoTotal.prestamo.tipo == '1'}" th:text="'Interes'"></td>
											<td th:text="${prestamoTotal.capital}"></td>
											<td th:text="${prestamoTotal.interes}"></td>
											<td th:text="${prestamoTotal.mora}"></td>
											<td th:text="${prestamoTotal.adicionales}"></td>
											<td th:text="${prestamoTotal.moneda}"></td>
										</tr>
										<tr>
											<td></td>	
											<td></td>
											<td></td>	
											<td style="font-weight: bold;">Total</td>							
											<td style="font-weight: bold;" th:text="${totalCapital}" id="totalDeudaCapital"></td>
											<td style="font-weight: bold;" th:text="${totalInteres}" id="totalDeudaInteres"></td>
											<td style="font-weight: bold;" th:text="${totalMora}" id="totalDeudaMora"></td>
											<td style="font-weight: bold;" th:text="${totalAdicional}" id="totalDeudaAdicional"></td>
											<td></td>
										</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	</div>	

</body>
</html>